<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
  <div class="container py-2 rounded">
    <a class="navbar-brand" href="{{ path('app_home') }}">RetroSpin</a>
    <div class="collapse navbar-collapse justify-content-end">
      <ul class="navbar-nav">
        {% if app.user %}
          {% if is_granted('ROLE_ADMIN') %}
            <li class="nav-item"><a class="nav-link" href="{{ path('admin_dashboard') }}">Admin</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ path('admin_loan_list') }}">Demandes</a></li>
          {% else %}
            <li class="nav-item"><a class="nav-link" href="{{ path('user_loans') }}">Mes prêts</a></li>
          {% endif %}
          <li class="nav-item"><a class="nav-link text-danger" href="{{ path('app_logout') }}">Déconnexion</a></li>
        {% else %}
          <li class="nav-item"><a class="nav-link" href="{{ path('app_login') }}">Connexion</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>